#transaction-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #transaction-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #transaction-list li.income {
    border-left: 5px solid #2ecc71;
  }
  
  #transaction-list li.expense {
    border-left: 5px solid #e74c3c;
  }